@import "tailwindcss";



.animated-gradient {
  background: linear-gradient(
    120deg,
    #ffffff,  /* purple-600 */
    #aeaeaf,  /* blue-600 */
    #ffffff   /* purple-500 */
  );
  background-size: 300% 300%;
  animation: gradientShift 7s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
